<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Love Finder</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.neya.love.finder.pl.AddCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>customerInfo</servlet-name>
		<servlet-class>com.neya.love.finder.pl.CustomerInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>customerInfo</servlet-name>
		<url-pattern>/customerInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logIn</servlet-name>
		<servlet-class>com.neya.love.finder.pl.LogInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logIn</servlet-name>
		<url-pattern>/logIn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchUsers</servlet-name>
		<servlet-class>com.neya.love.finder.pl.SearchUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchUsers</servlet-name>
		<url-pattern>/searchUsers</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getConversations</servlet-name>
		<servlet-class>com.neya.love.finder.pl.GetConversationsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getConversations</servlet-name>
		<url-pattern>/conversations</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getMessages</servlet-name>
		<servlet-class>com.neya.love.finder.pl.GetMessagesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getMessages</servlet-name>
		<url-pattern>/messages</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>uploadImage</servlet-name>
		<servlet-class>com.neya.love.finder.pl.UploadImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadImage</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sendMessage</servlet-name>
		<servlet-class>com.neya.love.finder.pl.SendMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sendMessage</servlet-name>
		<url-pattern>/sendMessage</url-pattern>
	</servlet-mapping>
	
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/mysqlDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
